.blurr{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: filter 0.5s ease;
}

.contenedor-form-desactivado{
    background: #cbcbcb;
    min-width: 1100px;
    min-height: 600px;
    position: fixed;
    bottom: -1100px; /*cambiara*/
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    transition: transform 5s ease-in-out;
}

.form-insert{
    width: 1100px;
    min-height: 600px;
}

h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
}

.campo-ingreso{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.campo{
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 30px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #9d9d9d;
}

input{
    width: 200px;
    min-height: 30px;
    border: none;
    border-bottom: 3px solid #000000;
    background: none;
    border-radius: 7px;
}

.envio-insert{
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    border: 2px solid #000000;
    background: none;
}

.cerrar{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 70px;
    height: 40px;
    border-radius: 60px;
    background: #b8b8b8;
    filter: grayscale(100%);
}

input:hover{
    background: #c0c0c0;
}

.envio-insert:hover{
    background: #a8a8a8;
}

.cerrar:hover {
    filter: grayscale(0%);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.contenedor-form-activado{
    background: #cbcbcb;
    min-width: 1100px;
    min-height: 600px;
    position: fixed;
    bottom: 50px; /*cambiara*/
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    transition: transform 5s ease-in-out;
}

.blurr:has(+ .contenedor-form-desactivado){
    display: none;
    transition: filter 0.5s ease;
}